---
const { title ,link ,image } = Astro.props;


---


<section class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="breadcrumb-text">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-nav wow fadeInUp"
          data-wow-delay="0.0s"
        >
          <ul class="breadcrumb listing">
            <li class="breadcrumb-item single-list">
              <a href="/" class="single">Home</a>
            </li>
            <li class="breadcrumb-item single-list" aria-current="page">
              <a href="/appeals" class="single">Appeals</a>
            </li>
            <li class="breadcrumb-item single-list" aria-current="page">
              <a href={link} class="single"
                >{title}
              </a>
            </li>
          </ul>
        </nav>
        <h1 class="title wow fadeInUp" data-wow-delay="0.1s">
          {title}
        </h1>
      </div>
    </div>
  </section>
  <style>
    .breadcrumb-bg::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/appeals/masjid-4.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
  </style>