<header>
    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="menu-wrapper d-flex align-items-center justify-content-between">
                <div class="header-left d-flex align-items-center justify-content-between">
                  <!-- Logo-->
                  <div class="logo logo-large light-logo">
                    <a href="/"><img src="/assets/images/logo/Logo-CRF.png" alt="logo"></a>
                  </div>
                  <!-- Logo Mobile-->
                  <div class="logo logo-mobile light-logo">
                    <a href="/"><img src="/assets/images/icon/favicon.png" alt="img"></a>
                  </div>
                </div>

                <div class="search-container">
                  <input type="text" id="searchField" class="search-field" placeholder="Search...">
                  <button id="closeSearch" class="close-search-btn"><i class="ri-close-line"></i></button>
                </div>

                <!-- Main-menu for desktop -->
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul class="listing" id="navigation">
                      <li class="single-list">
                        <a href="/" class="single">Home </a>
                        <!-- <ul class="submenu">
                          <li class="single-list"><a href="index" class="single">Home 01</a></li>
                          <li class="single-list"><a href="index-two" class="single">Home 02</a></li>
                          <li class="single-list"><a href="index-three" class="single">Home 03</a></li>
                        </ul> -->
                      </li>
                      <li class="single-list"><a href="/ramadan" class="single">Ramadan 2025 <i class="ri-arrow-down-s-line"></i></a>
                      <ul class="submenu">
                        <li class="single-list"><a href="/ramadan" class="single">Ramadan 2025</a></li>
                        <li class="single-list"><a href="/ramadan/ramadan-timetable" class="single">Ramadan Timetable</a></li>
                        <li class="single-list"><a href="/ramadan/iftar-food-pack" class="single">Iftar Food Pack</a></li>
                        <li class="single-list"><a href="/ramadan/fitrana-and-eid-gifts" class="single">Fitrana And Eid Gifts</a></li>
                        <li class="single-list"><a href="/ramadan/fidya-and-kaffara" class="single">Fidya And Kaffara</a></li>
                       

                      </ul>
                    </li>
                      <li class="single-list"><a href="/about-us" class="single">About Us</a></li>
                      <!-- <li class="single-list"><a href="/appeals/qurbani" class="single">Qurbani 2024</a></li> -->
                      <li class="single-list">
                        <a href="/appeals" class="single">Appeals <i class="ri-arrow-down-s-line"></i></a>
                        <ul class="submenu">
                          <li class="single-list"><a href="/appeals/sadaqah" class="single">Sadaqah Donation</a></li>
                          <li class="single-list"><a href="/appeals/zakat" class="single">Pay Zakat</a></li>
                          <li class="single-list"><a href="/appeals/water" class="single">Water Appeal</a></li>
                          <li class="single-list"><a href="/appeals/build-a-masjid" class="single">Build A Masjid</a></li>
                          <li class="single-list"><a href="/appeals/livelihood" class="single">Livelihood</a></li>
                          <li class="single-list"><a href="/appeals/cooked-food" class="single">Cooked Food</a></li>
                          <li class="single-list"><a href="/appeals/winter" class="single">Winter Appeal</a></li>
                          <li class="single-list"><a href="/appeals/medical-aid" class="single">Medical Aid</a></li>

                          <li class="single-list"><a href="/appeals/gaza" class="single">Gaza Emergency</a></li>
                          <li class="single-list"><a href="/appeals/zakat-calculator" class="single">Zakat Calculator</a></li>

                          <!-- <li class="single-list"><a href="event-details" class="single">event Details</a></li>
                          <li class="single-list"><a href="donation-details" class="single">donation Details</a></li>
                          <li class="single-list"><a href="volunteer-details" class="single">Volunteer Details</a></li>
                          <li class="single-list">
                            <a href="javascript:void(0)" class="single">Login<i class="ri-arrow-right-s-line"></i></a>
                            <ul class="submenu">
                              <li class="single-list"><a href="login" class="single">Login</a></li>
                              <li class="single-list"><a href="register" class="single">Registration</a></li>
                              <li class="single-list"><a href="forgot-pass" class="single">Forgot Password</a></li>
                              <li class="single-list"><a href="verification" class="single">Verification</a></li>
                              <li class="single-list"><a href="new-password" class="single">New Password</a></li>
                            </ul> -->
                          <!-- </li> -->

                          <!-- <li class="single-list"><a href="faq" class="single">FAQs</a></li>
                          <li class="single-list"><a href="privacy-policy" class="single">privacy policy</a></li>
                          <li class="single-list"><a href="terms-condition" class="single">terms-condition</a></li> -->
                        </ul>
                      </li>
                      <li class="single-list"><a href="/blogs" class="single">Blogs</a></li>

                      <li class="single-list"><a href="/contact-us" class="single">Contact Us</a></li>
                    </ul>
                  </nav>
                </div>
                
                <div class="header-right">
                  <div class="cart">
                      <!-- search button -->
                      <!-- <a href="#" class="rounded-btn search-bar"><i class="ri-search-line"></i></a> -->
                      <a href="https://crf-donate.tscube.co.in/" class="btn-primary-fill pill-btn">Donate Now</a>
                  </div>
                </div>
              </div>
                <!-- Mobile Menu -->
                <div class="div">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>