---
import RamadanDateRow from "./RamadanDateRow.astro";
---

<style>
  .table-responsive {
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-x: auto;
  }

  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  .table {
    /* background-color: #156e9d; */
    /* color: white; */
    border: black 1px solid;
  }
  .table th {
    background-color: #156e9d;
    color: white;
  }
</style>

<div class="container rounded p-md-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered rounded-lg">
          <thead class="position-top">
            <tr>
              <th>Date</th>
              <th>Day</th>
              <th>Islamic Date</th>
              <th>Timezone</th>
              <th>Suhoor Fajr</th>
              <th>Sunrise</th>
              <th>Dhuhr</th>
              <th>Asr</th>
              <th>Iftar Maghrib</th>
              <th>Isha</th>
            </tr>
          </thead>
          <tbody>
            <RamadanDateRow
              date="28-Feb-25"
              day="Fri"
              roza="29"
              zone="GMT"
              fajr="05:08"
              sunrise="06:45"
              dhuhr="12:18"
              asr="15:47"
              iftar="17:43"
              isha="19:10"
            />
            <RamadanDateRow
              date="01-Mar-25"
              day="Sat"
              roza="1"
              zone="GMT"
              fajr="05:05"
              sunrise="06:42"
              dhuhr="12:18"
              asr="15:49"
              iftar="17:44"
              isha="19:10"
            />
            <RamadanDateRow
              date="02-Mar-25"
              day="Sun"
              roza="2"
              zone="GMT"
              fajr="05:03"
              sunrise="06:40"
              dhuhr="12:18"
              asr="15:51"
              iftar="17:46"
              isha="19:12"
            />
            <RamadanDateRow
              date="03-Mar-25"
              day="Mon"
              roza="3"
              zone="GMT"
              fajr="05:01"
              sunrise="06:38"
              dhuhr="12:18"
              asr="15:52"
              iftar="17:48"
              isha="19:13"
            />
            <RamadanDateRow
              date="04-Mar-25"
              day="Tue"
              roza="4"
              zone="GMT"
              fajr="04:59"
              sunrise="06:36"
              dhuhr="12:17"
              asr="15:54"
              iftar="17:50"
              isha="19:15"
            />
            <RamadanDateRow
              date="05-Mar-25"
              day="Wed"
              roza="5"
              zone="GMT"
              fajr="04:57"
              sunrise="06:34"
              dhuhr="12:17"
              asr="15:55"
              iftar="17:51"
              isha="19:15"
            />
            <RamadanDateRow
              date="06-Mar-25"
              day="Thu"
              roza="6"
              zone="GMT"
              fajr="04:55"
              sunrise="06:32"
              dhuhr="12:17"
              asr="15:57"
              iftar="17:53"
              isha="19:17"
            />
            <RamadanDateRow
              date="07-Mar-25"
              day="Fri"
              roza="7"
              zone="GMT"
              fajr="04:52"
              sunrise="06:29"
              dhuhr="12:17"
              asr="15:58"
              iftar="17:55"
              isha="19:18"
            />
            <RamadanDateRow
              date="08-Mar-25"
              day="Sat"
              roza="8"
              zone="GMT"
              fajr="04:50"
              sunrise="06:27"
              dhuhr="12:16"
              asr="16:00"
              iftar="17:57"
              isha="19:20"
            />
            <RamadanDateRow
              date="09-Mar-25"
              day="Sun"
              roza="9"
              zone="GMT"
              fajr="04:48"
              sunrise="06:25"
              dhuhr="12:16"
              asr="16:01"
              iftar="17:58"
              isha="19:20"
            />
            <RamadanDateRow
              date="10-Mar-25"
              day="Mon"
              roza="10"
              zone="GMT"
              fajr="04:46"
              sunrise="06:23"
              dhuhr="12:16"
              asr="16:02"
              iftar="18:00"
              isha="19:22"
            />
            <RamadanDateRow
              date="11-Mar-25"
              day="Tue"
              roza="11"
              zone="GMT"
              fajr="04:43"
              sunrise="06:20"
              dhuhr="12:16"
              asr="16:04"
              iftar="18:02"
              isha="19:24"
            />
            <RamadanDateRow
              date="12-Mar-25"
              day="Wed"
              roza="12"
              zone="GMT"
              fajr="04:41"
              sunrise="06:18"
              dhuhr="12:15"
              asr="16:05"
              iftar="18:03"
              isha="19:25"
            />
            <RamadanDateRow
              date="13-Mar-25"
              day="Thu"
              roza="13"
              zone="GMT"
              fajr="04:39"
              sunrise="06:16"
              dhuhr="12:15"
              asr="16:07"
              iftar="18:05"
              isha="19:26"
            />
            <RamadanDateRow
              date="14-Mar-25"
              day="Fri"
              roza="14"
              zone="GMT"
              fajr="04:37"
              sunrise="06:14"
              dhuhr="12:15"
              asr="16:08"
              iftar="18:07"
              isha="19:28"
            />
            <RamadanDateRow
              date="15-Mar-25"
              day="Sat"
              roza="15"
              zone="GMT"
              fajr="04:34"
              sunrise="06:11"
              dhuhr="12:14"
              asr="16:10"
              iftar="18:09"
              isha="19:30"
            />
            <RamadanDateRow
              date="16-Mar-25"
              day="Sun"
              roza="16"
              zone="GMT"
              fajr="04:32"
              sunrise="06:09"
              dhuhr="12:14"
              asr="16:11"
              iftar="18:10"
              isha="19:31"
            />
            <RamadanDateRow
              date="17-Mar-25"
              day="Mon"
              roza="17"
              zone="GMT"
              fajr="04:30"
              sunrise="06:07"
              dhuhr="12:14"
              asr="16:12"
              iftar="18:12"
              isha="19:32"
            />
            <RamadanDateRow
              date="18-Mar-25"
              day="Tue"
              roza="18"
              zone="GMT"
              fajr="04:28"
              sunrise="06:05"
              dhuhr="12:14"
              asr="16:14"
              iftar="18:14"
              isha="19:34"
            />
            <RamadanDateRow
              date="19-Mar-25"
              day="Wed"
              roza="19"
              zone="GMT"
              fajr="04:25"
              sunrise="06:02"
              dhuhr="12:13"
              asr="16:15"
              iftar="18:15"
              isha="19:35"
            />
            <RamadanDateRow
              date="20-Mar-25"
              day="Thu"
              roza="20"
              zone="GMT"
              fajr="04:24"
              sunrise="06:00"
              dhuhr="12:13"
              asr="16:16"
              iftar="18:17"
              isha="19:37"
            />
            <RamadanDateRow
              date="21-Mar-25"
              day="Fri"
              roza="21"
              zone="GMT"
              fajr="04:22"
              sunrise="05:58"
              dhuhr="12:13"
              asr="16:18"
              iftar="18:19"
              isha="19:38"
            />
            <RamadanDateRow
              date="22-Mar-25"
              day="Sat"
              roza="22"
              zone="GMT"
              fajr="04:20"
              sunrise="05:55"
              dhuhr="12:12"
              asr="16:19"
              iftar="18:20"
              isha="19:39"
            />
            <RamadanDateRow
              date="23-Mar-25"
              day="Sun"
              roza="23"
              zone="GMT"
              fajr="04:18"
              sunrise="05:53"
              dhuhr="12:12"
              asr="16:20"
              iftar="18:22"
              isha="19:41"
            />
            <RamadanDateRow
              date="24-Mar-25"
              day="Mon"
              roza="24"
              zone="GMT"
              fajr="04:16"
              sunrise="05:51"
              dhuhr="12:12"
              asr="16:22"
              iftar="18:24"
              isha="19:43"
            />
            <RamadanDateRow
              date="25-Mar-25"
              day="Tue"
              roza="25"
              zone="GMT"
              fajr="04:14"
              sunrise="05:49"
              dhuhr="12:12"
              asr="16:23"
              iftar="18:26"
              isha="19:44"
            />
            <RamadanDateRow
              date="26-Mar-25"
              day="Wed"
              roza="26"
              zone="GMT"
              fajr="04:12"
              sunrise="05:46"
              dhuhr="12:12"
              asr="16:24"
              iftar="18:27"
              isha="19:45"
            />
            <RamadanDateRow
              date="27-Mar-25"
              day="Thu"
              roza="27"
              zone="GMT"
              fajr="04:10"
              sunrise="05:44"
              dhuhr="12:11"
              asr="16:26"
              iftar="18:29"
              isha="19:47"
            />
            <RamadanDateRow
              date="28-Mar-25"
              day="Fri"
              roza="28"
              zone="GMT"
              fajr="04:09"
              sunrise="05:42"
              dhuhr="12:11"
              asr="16:27"
              iftar="18:31"
              isha="19:49"
            />
            <RamadanDateRow
              date="29-Mar-25"
              day="Sat"
              roza="29"
              zone="GMT"
              fajr="04:06"
              sunrise="05:39"
              dhuhr="12:11"
              asr="16:28"
              iftar="18:32"
              isha="19:49"
            />
            <RamadanDateRow
              date="30-Mar-25"
              day="Sun"
              roza="30"
              zone="BST"
              fajr="05:04"
              sunrise="06:37"
              dhuhr="13:10"
              asr="17:29"
              iftar="19:34"
              isha="20:51"
            />
            <RamadanDateRow
              date="31-Mar-25"
              day="Mon"
              roza="1*"
              zone="BST"
              fajr="05:03"
              sunrise="06:35"
              dhuhr="13:10"
              asr="17:31"
              iftar="19:36"
              isha="20:53"
            />
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
