---

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="description" content="Established in 2012 by Allama Syed Zafar Ullah Shah, the Care and Relief Foundation (CRF) is a charitable organization committed to reducing poverty and improving living conditions for marginalized populations. "> -->
		<meta name="keywords" content="charity, causes, donate, charity foundation, charity hub, charity theme, donations, non profit, fundraiser,social, ngo, non-profit, nonprofit, organization, volunteer">
		<meta name="author" content="initTheme">
		  <meta property="og:type" content="website" >
		<meta property="og:title" content="Care and Relief Foundation" >
		  <meta property="og:logo" content="/assets/images/logo/Logo-CRF.png" />
		<meta property="og:site_name" content="Care and Relief Foundation" >
		<meta property="og:url" content="www.Care and Relief Foundation.com" >
		<meta property="og:image" content="/assets/images/logo/Logo-CRF.png" >
		<!-- <meta property="og:description" content="Established in 2012 by Allama Syed Zafar Ullah Shah, the Care and Relief Foundation (CRF) is a charitable organization committed to reducing poverty and improving living conditions for marginalized populations. " > -->
		<!-- <meta name="twitter:title" content="Charity & Donation Care and Relief Foundation" > -->
		<!-- <meta name="twitter:description" content="Established in 2012 by Allama Syed Zafar Ullah Shah, the Care and Relief Foundation (CRF) is a charitable organization committed to reducing poverty and improving living conditions for marginalized populations. " > -->
		<meta name="twitter:image" content="/assets/images/logo/Logo-CRF.png" >
		<meta name="twitter:card" content="Care and Relief Foundation" >
		<!-- <title>CRF - Care and Relief Foundation</title> -->
		<link rel="icon" type="image/x-icon" sizes="20x20" href="/assets/images/icon/favicon.png">
	
		<!-- Bootstrap -->

		
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-5.3.0.min.css">
		<!-- fonts & icon -->
		<link rel="stylesheet" type="text/css" href="/assets/css/remixicon.css">
		<!-- Plugin -->
		<link rel="stylesheet" type="text/css" href="/assets/css/plugin.css">
		<!-- Main CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main-style.css">
		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- RTL CSS::When Need RTL Uncomments File -->
		<!-- <link rel="stylesheet" type="text/css" href="/assets/css/rtl.css"> -->
		<meta name="google-site-verification" content="So3LxuyvCAdoS8NivUwUcz4lrrZilSM93RvQh2uNW2I"/>
		<link rel="sitemap" href="/sitemap.xml" />

	  </head>

	<body>
		<Header />
		<slot />
		<Footer/>
	</body>
	<script is:inline src="/assets/js/jquery-3.7.0.min.js"></script>
		<script is:inline src="/assets/js/popper.min.js"></script>
		<script is:inline src="/assets/js/bootstrap-5.3.0.min.js"></script>
		<!-- Plugin -->
		<script is:inline src="/assets/js/plugin.js"></script>
		<!-- Main js-->
		<script is:inline src="/assets/js/main.js"></script>
		<script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</html>

